.container {
    border: 10px solid red;
    padding: 500px;
    max-width: 500px;
    margin-left: 0;
  }

  .title {
    font-size: 100px;
    color: #187318; 
    margin-right:4000px;
  }

  .description {
    font-size: 18px;
    color: #FFFFFF; /* Color blanco */
  }

  .Arriba {
    font-size: 12px;
    font-style: italic;
    text-align: left; 
    margin-bottom: 10px;
  }

  .image-container {
    flex: 0 0 200px; /* Ancho de la imagen */
    margin-left: 500px; /* Espacio entre la imagen y el texto */
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .textogrande {
    font-size: 100px;

  }
  